*{
	box-sizing: border-box;
}
.container{
	font-family: Verdana, sans-serif;
	
}
.main-nav li,ul, a {
	text-decoration: none;
	list-style-type: none;
}
body {
	margin: auto;
}


/* ====================
 Mobile first
======================*/
	.container {
		text-align: center;
	}

	/* name and nav */
	.main-nav li{
		background-color: white;
		padding: 5px;
		margin: 3px 0 0 0;
		
		
	}
	ul {
		padding:0 20px;
	}
	.name {
		margin-top: 0;
		padding-top: 20px;
	}
	header {
		background-color: whitesmoke;
	}


	/* img and profile text */
	img{
		width: 80%;
	}
	img.responsive-image {
		width: 65%;
	}
	.profile {
		padding: 30px 0;
		margin-bottom: 60px;
	}
	p {
		width: 80%;
		margin: 10px 30px 40px;
	}

	/* main */

	h2 {
		margin-top: 40px;
	}

	ul li {
		margin-bottom: 30px;
	}
	.contacts-box, footer {
		background-color: whitesmoke;
		padding: 30px 0; 
	}
	/* footer and nav */
	footer {
		border-top: solid #B2BABB;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	footer h1 {
		font-size: 16px;
	}

/* ====================
 media queries 
======================*/
@media (min-width: 768px) {
	/* navigation */
	.main-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		padding: 0 16rem;
		
	}
	.main-nav li {
		background-color: whitesmoke;
		padding: 0;
		margin: 0;
	}

	/* profile image and text */
	.profile {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	.responsive-image {
		margin-right: 2rem;
	}
	.imgs{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 40%;
		margin: 0;
	}
	
  }
